.banner {
    background-color: #738095;
}

h1 {
    display: inline-block;
}

/* Icons at the top banner */

#search{
    float: right;
}

.icon {
    width: 40px;
    padding: 5px;
}

#icons {
    display: block; margin-left: auto; margin-right: auto;
    text-align: center;
}



}

div {}

h2 {
    display: inline-block;
}

/* Discover Box */

.discover{
    width: 250px;
    height: 500px;
    background-color: #738095
}

h3 {
    text-align: center;
    font-size: 35px;
}

/* Trends Box */

.trends{
    width: 250px;
    height: 200px;
    background-color: #738095;
}
h4 {
    text-align: center;
    font-size: 35px;
}
